<web-app>
   <listener>
   		<listener-class>com.vinod.AppLifeCycleListener</listener-class>
   </listener>
   <listener>
   		<listener-class>com.vinod.SessionLifeCycleListener</listener-class>
   </listener>
   <listener>
   		<listener-class>com.vinod.RequestLifeCycleListener</listener-class>
   </listener>
   
   <servlet>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.vinod.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.vinod.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet3</servlet-name>
    <servlet-class>com.vinod.Servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet3</servlet-name>
    <url-pattern>/Servlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet4</servlet-name>
    <servlet-class>com.vinod.Servlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet4</servlet-name>
    <url-pattern>/Servlet4</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Servlet5</servlet-name>
    <servlet-class>com.vinod.Servlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet5</servlet-name>
    <url-pattern>/Servlet5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet6</servlet-name>
    <servlet-class>com.vinod.Servlet6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet6</servlet-name>
    <url-pattern>/Servlet6</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet7</servlet-name>
    <servlet-class>com.vinod.Servlet7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet7</servlet-name>
    <url-pattern>/Servlet7</url-pattern>
  </servlet-mapping>
</web-app>