<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  
  <filter>
    <filter-name>Filter1</filter-name>
    <filter-class>com.vinod.filters.Filter1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter1</filter-name>
    <url-pattern>/test.html</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.vinod.filters.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>Filter2</filter-name>
    <filter-class>com.vinod.filters.Filter2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter2</filter-name>
    <servlet-name>Servlet1</servlet-name>
  </filter-mapping>
  
  <servlet>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.vinod.filters.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>Filter3</filter-name>
    <filter-class>com.vinod.filters.Filter3</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter3</filter-name>
    <servlet-name>Servlet2</servlet-name>
  </filter-mapping>
  
  <servlet>
    <servlet-name>Servlet3</servlet-name>
    <servlet-class>com.vinod.filters.Servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet3</servlet-name>
    <url-pattern>/Servlet3</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>Filter4</filter-name>
    <filter-class>com.vinod.filters.Filter4</filter-class>
    <init-param>
      <param-name>con1</param-name>
      <param-value>hello</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Filter4</filter-name>
    <servlet-name>Servlet3</servlet-name>
  </filter-mapping>
  
  <context-param>
    <param-name>driver</param-name>
    <param-value>OracleDriver</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>Servlet4</servlet-name>
    <servlet-class>com.vinod.filters.Servlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet4</servlet-name>
    <url-pattern>/Servlet4</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Servlet5</servlet-name>
    <servlet-class>com.vinod.filters.Servlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet5</servlet-name>
    <url-pattern>/Servlet5</url-pattern>
  </servlet-mapping>
  
  
  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/Servlet5</location>
  </error-page>
  
  <filter-mapping>
    <filter-name>Filter4</filter-name>
    <servlet-name>Servlet7</servlet-name>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  <servlet>
    <servlet-name>Servlet6</servlet-name>
    <servlet-class>com.vinod.filters.Servlet6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet6</servlet-name>
    <url-pattern>/Servlet6</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Servlet7</servlet-name>
    <servlet-class>com.vinod.filters.Servlet7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet7</servlet-name>
    <url-pattern>/Servlet7</url-pattern>
  </servlet-mapping>
  
  <filter-mapping>
    <filter-name>Filter4</filter-name>
    <servlet-name>Servlet7</servlet-name>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  <servlet>
    <servlet-name>Servlet8</servlet-name>
    <servlet-class>com.vinod.filters.Servlet8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet8</servlet-name>
    <url-pattern>/Servlet8</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Servlet9</servlet-name>
    <servlet-class>com.vinod.filters.Servlet9</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet9</servlet-name>
    <url-pattern>/Servlet9</url-pattern>
  </servlet-mapping>
  
   <filter-mapping>
    <filter-name>Filter4</filter-name>
    <servlet-name>Servlet9</servlet-name>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  
  <error-page>
  		<error-code>404</error-code>
  		<location>/Servlet10</location>
  </error-page>
  
   <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/Servlet5</location>
  </error-page>
  
   <error-page>
    <exception-type>java.io.IOException</exception-type>
    <location>/Servlet5</location>
  </error-page>
  
  <error-page>
    <exception-type>java.lang.ArrayIndexOutOfBoundsException</exception-type>
    <location>/Servlet5</location>
  </error-page>
  
  
  <servlet>
    <servlet-name>Servlet10</servlet-name>
    <servlet-class>com.vinod.filters.Servlet10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet10</servlet-name>
    <url-pattern>/Servlet10</url-pattern>
  </servlet-mapping>
</web-app>